:host {
	display: flex;
	flex-flow: column;
	justify-content: stretch;
	height: 100%;
}

mat-toolbar {
	justify-content: space-between;
	flex-shrink: 0;
}

mat-drawer-container {
	display: flex;
	height: 100%;
}

mat-drawer,
mat-drawer-content {
	padding: 16px;
}

mat-drawer {
	background-color: hsl(0, 0%, 90%);
}

h1 a {
	color: inherit;
	text-decoration: none;
}